@model SavvyStudy.Models.Word
@{
    ViewData["Title"] = "WordUntranslatedTypedPractice";

}

<h1>WordUntranslatedTypedPractice</h1>

<h4>Word</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Untranslated" class="control-label"></label>
                <input asp-for="Untranslated" class="form-control" id="userInput" />
                <span asp-validation-for="Untranslated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Translated" class="control-label"></label>
                <input asp-for="Translated" class="form-control" />
                <span asp-validation-for="Translated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pronunciation" class="control-label"></label>
                <input asp-for="Pronunciation" class="form-control" />
                <span asp-validation-for="Pronunciation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-primary" onclick="function checkAnswer() {
            debugger
        if (document.getElementById(userInput) == 'test') { alert('Correct') } else { console.log(document.getElementById('userInput')) }
    } checkAnswer();" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
