@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn words! <a href="http://localhost:57307/Word">View a list of words</a></p>

        <p>Learn phrases! <a href="http://localhost:57307/Phrase">View a list of phrases</a></p>

        <p>Practice! <a href="http://localhost:57307/Word/WordPractice/"</a>Test your knowledge</p>
    </div>
