@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn words! <a href="http://localhost:57307/Word">Click Here to view a list</a>.</p>
</div>
